<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Consent</title>
        <link rel="stylesheet" href="/static/css/custom.css" />
        <script src="/static/js/bg.js"></script>
    </head>
    <body>
        <div id="window">
            <div id="blur"></div>
            <div class="content center">
                <h2><strong><%= client.getName() %></strong><span class="thinblock"> is requesting access to <%= client.getScope() %>.</span></h2>
                <form id="accept" method="post" action="/oauth/authorize/decision">
                    <input name="transaction_id" type="hidden" value="<%= transactionID %>">
                    <select name="character">
                        <% for(let character of user.getCharacters()) { %>
                            <option value="<%= character.getId() %>"><%= character.getName() %></option>
                        <% } %>
                    </select>
                    <div class="form-actions"><input class="half" type="submit" value="Accept" id="allow"><input class="half" type="submit" value="Deny" name="cancel" id="deny"></div>
                </form>
            </div>
        </div>
    </body>
</html>
